.heart-icon {
    display: block;
    border: 2px solid rgb(207, 196, 196);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right: 1px solid rgb(207, 196, 196);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.heart-count {
    display: block;
    border: 2px solid rgb(207, 196, 196);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: 1px solid rgb(207, 196, 196);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart {
    display: inline-block;
}
